
:root {
  --main-color: #88B89B;
  --background-color: #f0f0f0;
  --secondary-color: #f45d48;
  --accent: black;
}

body{
	font-family: 'Inter', sans-serif;
	margin-bottom: 10px;
}
/* NAVIGATION */
.nav {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin: 0 auto;
}

.nav-container{
	width: fix-content;
	margin: auto;
	display:flex;
	flex-direction:column;
}

.container {
  position: relative;
  background: var(--background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.buttn {
  color: var(--accent);
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.buttn:hover {
  background: var(--main-color)  ;
  color: #fff;
  transform: translateY(-2px);
padding: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* SVG Outline */
.outline {
  position: absolute;
  inset: 0 0 0 -1.5;
  pointer-events: none;
}

.rect {
  stroke-dashoffset: 5;
  stroke-dasharray: 0 0 10 40 10 40;
  transition: 0.5s ease;
  stroke: var(--main-color);
  stroke-width: 5;
  fill: transparent;
}

.container:hover .outline .rect {
  stroke-dashoffset: 1;
  stroke-dasharray: 0;
  transition: 0.5s ease;
}

.buttn:nth-child(1):hover ~ svg .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 2 8 73.3 8 10.7;
}

.buttn:nth-child(2):hover ~ svg .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 12.6 9.5 49.3 9.5 31.6;
}

.buttn:nth-child(3):hover ~ svg .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 24.5 8.5 27.5 8.5 55.5;
}

.buttn:nth-child(4):hover ~ svg .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 34.7 6.9 10.2 6.9 76;
}

.buttn:hover ~ .outline .rect {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 0 10 40 10 40;
  transition: 0.5s ease !important;
}

/* RESPONSIVE MEDIA QUERY */
@media screen and (min-width: 1024px) {
  .nav {
    max-width: 700px;
    height: 70px;
  }

  .container {
    padding: 1em 2em;
  }

  .buttn {
    padding: 0.75em 1em;
font-weight: bold;
    font-size: 1.2rem;
  }

  .rect {
    stroke-width: 6;
  }
}

